<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="css/main.css" media="screen" title="no title">
  <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" title="no title">
  <link rel="stylesheet" href="css/cssslider_files/csss_engine1/style.css">
  <script src="js/bootstrap.min.js"></script>

  <title>Pal'Corrientazo</title>
</head>
<body>
  		<!-- Start cssSlider.com -->
  		<!--[if IE]><link rel="stylesheet" href="cssslider_files/csss_engine1/ie.css"><![endif]-->
  		<!--[if lte IE 9]><script type="text/javascript" src="cssslider_files/csss_engine1/ie.js"></script><![endif]-->
  		 <div class="csslider1 autoplay ">
  		<input name="cs_anchor1" id="cs_slide1_0" class="cs_anchor slide" type="radio">
  		<input name="cs_anchor1" id="cs_slide1_1" class="cs_anchor slide" type="radio">
  		<input name="cs_anchor1" id="cs_slide1_2" class="cs_anchor slide" type="radio">
  		<input name="cs_anchor1" id="cs_play1" class="cs_anchor" checked="" type="radio">
  		<input name="cs_anchor1" id="cs_pause1_0" class="cs_anchor pause" type="radio">
  		<input name="cs_anchor1" id="cs_pause1_1" class="cs_anchor pause" type="radio">
  		<input name="cs_anchor1" id="cs_pause1_2" class="cs_anchor pause" type="radio">
  		<ul>
  			<li class="cs_skeleton"><img src="cssslider_files/csss_images1/dd8717d03149543c5feef7a66595fa19_xl.jpg" style="width: 100%;"></li>
  			<li class="num0 img slide"> <img src="https://github.com/znafu/corrientazostyle/blob/master/images/colombian-almuerzo.jpg?raw=true" alt="" title=""></li>
  			<li class="num1 img slide"> <img src="https://github.com/znafu/corrientazostyle/blob/master/images/dd8717d03149543c5feef7a66595fa19_XL.jpg?raw=true" alt="" title=""></li>
  			<li class="num2 img slide"> <img src="https://github.com/znafu/corrientazostyle/blob/master/images/dsc09177-edited-2.jpg?raw=true" alt="colombian-almuerzo" title="colombian-almuerzo"></li>
  		</ul>
  		<div class="cs_description">
  			<label class="num0"></label>
  			<label class="num1"></label>
  			<label class="num2"></label>
  		</div>
  		<div class="cs_bullets">
  			<label class="num0" for="cs_slide1_0"> <span class="cs_point"></span>
  				<span class="cs_thumb"><img src="https://github.com/znafu/corrientazostyle/blob/master/images/colombian-almuerzo.jpg?raw=true" alt="" title=""></span></label>
  			<label class="num1" for="cs_slide1_1"> <span class="cs_point"></span>
  				<span class="cs_thumb"><img src="https://github.com/znafu/corrientazostyle/blob/master/images/dd8717d03149543c5feef7a66595fa19_XL.jpg?raw=true" alt="" title=""></span></label>
  			<label class="num2" for="cs_slide1_2"> <span class="cs_point"></span>
  				<span class="cs_thumb"><img src="https://github.com/znafu/corrientazostyle/blob/master/images/dsc09177-edited-2.jpg?raw=true" alt="colombian-almuerzo" title="colombian-almuerzo"></span></label>
  		</div>
  		</div>

  		<!-- End cssSlider.com -->
      <section>
        <%= form_tag general_search_establishments_path, method: :get, remote: true, class: "search-form", id: "establishment-general-search" do %>
        <div class="text-center">
          <div class="form-group" style="width: 30%; display: flex;margin: 0 auto;">
            <%= label_tag :zone%>
            <select name="establishment_zone" >
              <% ["Norte", "Sur", "Oriente", "Occidente"].each do |a| %>
              <option value="<%= a.downcase %>"> <%= "#{a}" %> </option>
              <% end %>
            </select>
            <div class="form-group"style="width: 46%; display: flex;margin: 0 5px 0 93px;">
              <%= label_tag :likes%>
              <input style="width: 100%;float: left;" name="establishment_likes" type="range" max="100" min="0" sept="1">
            </div>
          </div>

          <!-- SANTI NI POR EL PUTAS QUITE ESTO-->
          <button type="submit" id="establishment-general-search-button" style="display:none;"></button>
          <button type="button" id="clean-general-search-button" class="btn btn-warning"> Limpiar filtro </button>
        </div>
        <% end %>
      </section>
      <section id="establishments_list">
      </section>
</body>
</html>
