<% if establishments.any? %>
<hr>
<table class="table">
  <tr>
    <th class="col-xs-2 text-center">Name</th>
    <th class="col-xs-2 text-center">Zone</th>
    <th class="col-xs-2 text-center">Price</th>
    <th class="col-xs-1 text-center">Stars</th>
    <th class="col-xs-1 text-center">Likes</th>
    <th class="col-xs-2 text-center">Qualify</th>
    <th class="col-xs-2 text-center">Did you like?</th>
  </tr>
</table>
<% end %>
<table class="table table-striped">
  <% establishments.each do |e| %>
  <tr>
    <td class="col-xs-2"><%= e.name.capitalize %></td>
    <td class="col-xs-2 text-center"><%= e.zone %></td>
    <td class="col-xs-2 text-center"><strong><%= e.price %></strong></td>
    <td class="col-xs-1 text-center"><strong><%= e.avg_qualification %></strong></td>
    <td class="col-xs-1 text-center"><strong><%= e.like_count %></strong></td>
    <td class="col-xs-2 text-center"><a href="<%= establishment_path(e.id) %>" class="btn btn-primary"> Qualify </a></td>
    <td class="col-xs-2 text-center"><a href="<%= create_like_establishment_path(e.id) %>" class="btn btn-primary"> Like </a></td>
  </tr>
  <% end if establishments.any? %>
</table>





  <!-- <div class="ec-stars-wrapper">
  <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
  <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
  <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
  <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
  <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
  </div>

  <button type="button" class="btn btn-primary" name="button">Calificar</button>

</ul>
