<div class="container">
  <h1 class="text-center"> My Establishments </h1>
  <section class="row text-center cities-controls">
      <a href="<%= new_establishment_path %>" class="btn btn-default"> New Establishment </a>
  </section>
  <table class="table">
    <tr>
      <th>Nombre</th>
      <th>Zona</th>
      <th>Precio</th>
      <th>Estrellas</th>
      <th>Likes</th>
      <th>Modify</th>
    </tr>
  </table>
  <table class="table table-striped">
    <% @establishments.each do |e| %>
    <tr>
      <td><strong><%= e.name %></strong></td>
      <td><strong><%= e.zone %></strong></td>
      <td><strong><%= e.price %></strong></td>
      <td><strong><%= e.avg_qualification %></strong></td>
      <td><strong><%= e.like_count %></strong></td>
      <td><a href="<%= edit_establishment_path(e.id) %>" class="btn btn-primary"> Edit </a></td>
    </tr>
    <% end if @establishments.any? %>
  </table>
