<h1><%= "#{@establishment.name.capitalize }" %> </h1>
<div class="container">
  <article class="row city">
    <div class="form-group">
      <label> Zone:</label>
      <label><%= @establishment.zone.capitalize %></label>
    </div>
    <div class="form-group">
      <label> Price:</label>
      <label><%= @establishment.price %></label>
    </div>
    <div class="form-group">
      <label> Description:</label>
      <text><%= @establishment.description %></text>
    </div>
  </article>
</div>
<%= form_for @qualification, url: create_qualification_establishment_path(@establishment), html: {class: "nifty_form"} do |f| %>
  <div class="form-group">
    <%= f.label :qualification%>
    <select name="qualification[qualification]" >
      <% ["1", "2", "3", "4", "5"].each do |qu| %>
      <option value="<%= qu.downcase %>"> <%= "#{Integer(qu)}" %> </option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :comment%>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <%= f.submit "Qualify", class: "btn btn-lg boton-color btn-block" %>
<% end %>

<% if @qualifications.any?  %>
  <div class="container">
    <table class="table">
      <tr>
        <th class="col-md-2 text-center">User</th>
        <th class="col-md-2 text-center">Qualification</th>
        <th class="col-md-8 text-center">Comment</th>
      </tr>
    </table>
    <table class="table table-striped">
      <% @qualifications.each do |q| %>
      <tr>
        <td class="col-md-2 text-center"><strong><%= q.user.email %></strong></td>
        <td class="col-md-2 text-center"><strong><%= q.qualification %></strong></td>
        <td class="col-md-8"><%= q.comment %></td>
      </tr>
      <% end if @qualifications.any? %>
    </table>
  </div>
<% end %>
<a href="<%= root_path %>" class="btn btn-lg boton-color-dos btn-block"> Return </a>
