<!DOCTYPE html>
<html>
  <head>
    <title>Palcorrientazo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse nav-frente" style="background-color: #640101;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>"><img src="https://s30.postimg.org/b7pyrz6o1/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">Pal'Corrientazo </a>
          <div class="navbar-text"><%= current_user ? "| #{current_user.email}" : '' %></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= form_tag search_by_name_establishments_path, method: :get, class: "navbar-form navbar-left", remote: true do %>
          <input type="hidden" name="establishment_general_name" value="">
          <div class="form-group">
            <input name="establishment_name" type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Find</button>
          <% end %>
          <ul class="nav navbar-nav">
              <li class="link">
                <a href="<%= new_establishment_path %>" class="link"><b>Add Corrientazo</b></a>
      			  </li>
              <li class="link">
                <a href="<%= establishments_path %>" class="link"><b>My Corrientazo's</b></a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <li class="link">
                <a href="<%= new_user_session_path %>" class="link"><b>Log In</b></a>
      			  </li>
            <% else %>
              <li class="link">
                <a href="<%= destroy_user_session_path %>" data-method="delete"class="link"><b>Log Out</b></a>
      			  </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
   <% if flash[:success] or flash[:error] or flash[:notice]%>
   <span class="success flash-message <%= flash[:success] ? 'success' : flash[:error] ? 'error' : flash[:notice] ? 'notice' : '' %>"><i class="fa fa-check"></i>
   <%= flash[:success] ? flash[:success] : flash[:error] ? flash[:error] : flash[:notice] ? flash[:notice] : '' %>
   </span>
   <% end %>
  <%= yield %>
  </body>
</html>
